.DS_Store

# Dependency directory
node_modules

*/.bowerrc

# built site
site
build
src/_posts/*
src/_portfolio
!src/_posts/whats-hypermedia

src/js
src/img
src/demos

plugins/**2

canopybirds

stashed
test
src_old