[submodule "plugins/metalsmith-permalinks"]
	path = plugins/metalsmith-permalinks
	url = git@github.com:mechanicalscribe/metalsmith-permalinks.git
[submodule "plugins/metalsmith-mathjax"]
	path = plugins/metalsmith-mathjax
	url = git@github.com:mechanicalscribe/metalsmith-mathjax.git
[submodule "plugins/metalsmith-markdown"]
	path = plugins/metalsmith-markdown
	url = git@github.com:mechanicalscribe/metalsmith-markdown.git