#clips {
	.headline {
		font-size: 30px;
		font-weight: 700;
		text-align: center;
		margin-top: 5px 0;
	}

	.subhead {
		font-size: 16px;
		text-align: center;
		margin: 5px 0 15px 0;
	}

	.clip {
		> div {
			vertical-align: top;
			display: inline-block;
		}

		clear: both;
		margin-bottom: 10px;

		.clip_image {
			width: 360px;
			img {
				width: 100%;
			}
			padding-right: 10px;
		}

		.clip_description {
			max-width: 600px;
		}

		.clip_title {
			font-weight: 700;
			font-size: 18px;
		}

		.clip_subtitle {
			font-size: 14px;
			margin: 5px 0;
		}

		.clip_details {
			font-size: 16px;
			text-align: left;
		}

		.clip_info {
			text-align: center;
			background-color: #EEE;
			margin-bottom: 10px;
			max-width: 520px;
			padding: 10px;
			border: 1px solid #CCC;

			.date_time {
				color: #808080;
			}

			a {
				font-weight: bold;
			}
		}		
	}
}