@import url('https://fonts.googleapis.com/css2?family=Nixie+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400&family=Work+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

$width-standard: 750px;
$width-hero: 930px;
$width-break: 768px;
$width-phone: 480px;
$width-small: 320px;

// $body-bg: #f8f0e3;
$body-bg: #fffaf3;
$text-color: #3a3a3a;
$link-color: #666;
$category-color: #c3fcf1;
$syd-color: #80aec6;
$link-underline-color: rgba(209, 140, 71, 0.5);
$highlight-color: #d18c47;
$hero-black: #313032;

$font-primary: 'Georgia', serif;
// $font-headline: 'Arial Black', sans-serif;
$font-headline: "Roboto", sans-serif;

// $font-typewriter: 'IBM Plex Mono', Courier, monospace;
// $font-typewriter: "Nixie One", Courier, monospace;
// $font-typewriter: "Courier New", Courier, monospace;
$font-typewriter: "Zilla Slab", serif;
$font-hero: "Source Serif 4", serif;

// $font-sans: 'Work Sans', sans-serif;
$font-sans: "Roboto", sans-serif;
// $font-sans: 'Arial', sans-serif;

body {
    font-size: 16px;
    font-family: $font-primary;
    background-color: white;
    color: $text-color;
    margin: 0;
    padding: 0;
    line-height: 1.6;

    a, a:hover, a:visited, a:active {
        color: inherit;
        text-decoration: none;
    }
}

main,nav,footer {
    margin: 0 auto;
    padding: 10px 20px;
    max-width: $width-standard;
}

.section {
    // max-width: $width-standard;
    // margin: auto;
}

footer {
    color: $highlight-color;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    bottom: 0;
}

/*
@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        gap: 10px;
    }

    .menu-icon {
        display: block;
    }

    .nav-links.active {
        display: flex;
    }

    header .logo {
        font-size: 1.5em;
    }
}
*/
