.homepage {
    main, nav {
        max-width: 100%;
        border-bottom: none;
    }

    main {
        padding: 0;
    }
    
    section:not(.hero) {
        margin: 0 auto;
        max-width: $width-standard;    
    }

    /* Content Sections */
    section.content-section {
        padding: 2rem;
        background-color: $body-bg;
        /* Light Gray */
        text-align: left;
        color: $text-color;
        font-family: $font-primary;
        font-size: 1.25rem;
        line-height: 1.6;
        text-align: left;
        border: 1px solid #d1c0a1; /* Soft, muted border for subtle contrast */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
        margin: 2rem auto;
    
        h2 {
            font-size: 2rem;
            // font-weight: bold;
            font-weight: 500;
            color: #5f4b3b; /* Slightly darker color for a vintage look */
            // text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 1rem;
            border-bottom: 4px solid $highlight-color; /* Underline like a plan */
            padding-bottom: 0.5rem;
            padding-top: 0;
            margin-top: 0;
            font-family: $font-typewriter;
            
        }
    }
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.portfolio-item {
    position: relative;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item .title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}