/* Global Navbar Styles */
header {
  border-bottom: 1px dashed $text-color;
}

.navbar {
  display: flex;
  justify-content: space-between;
  /* Ensures space between logo and nav links */
  align-items: center;
  position: relative;
  margin: 0 auto;
  padding: 20px 20px;
  background-color: transparent;

  a:visited {
    color: inherit;
  }

  /* Logo section */
  .logo {
    display: flex;
    justify-content: flex-start;
    /* Align logo to the left */
    font-size: 1.1em;
    font-family: $font-typewriter;
    font-weight: 300;
    text-align: left;

    .title {
      font-size: 1.15em;
      line-height: 1em;
    }

    .tagline {
      font-family: $font-sans;
      font-weight: 700;
    }
  }

  /* Nav links styling (aligned to the right) */
  .nav-links {
    display: flex;
    justify-content: flex-end;
    /* Always align nav items to the right */
    align-items: center;
    gap: 15px;
    margin: 0;
    font-family: $font-sans;
    list-style: none;

    li {
      display: inline;
    }

    a {
      position: relative;
      padding: 0.5rem;
      transition: color 0.3s ease;
      font-size: 1.1rem;
      color: #DEDEDE;
      text-decoration: none;

      &:hover {
        color: $highlight-color;
      }

      &::after {
        content: "";
      }
    }

    a.active {
      color: $highlight-color;

      &::before {
        content: "";
        position: absolute;
        top: -2px;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 5px;
        height: 5px;
        border-top: none;
        border-right: 2px solid $highlight-color;
        border-bottom: 2px solid $highlight-color;
        border-left: none;
      }
    }
  }
}

/* Hamburger menu button (visible on small screens) */
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  z-index: 15;
  /* Ensure it's on top of other elements */
  width: 30px;
  height: 21px;
  margin-right: 20px;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: none;

  .bar {
    width: 30px;
    height: 3px;
    transition: all 0.3s ease;
    background-color: $hero-black;
    border-radius: 5px;
  }
}

.homepage .hamburger .bar {
  background-color: #FFF;
}

/* Mobile Responsive: Hide nav links */
@media (max-width: $width-break) {
  .homepage .navbar,.navbar {
    .nav-links {
      z-index: 1000;
      display: none; /* Hide nav links by default */
      flex-direction: column;
      width: 100%;
      background-color: #fff;
      position: absolute;
      top: 60px;
      right: 0;
      padding: 1rem;
      border-top: 1px solid #ddd;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Soft shadow for better visibility */
      border-radius: 5px;

      a.active::before {
        content: none; /* Remove the caret when collapsed */
      }  
    }

    .nav-links.active {
      display: flex;
      /* Show nav links when the "active" class is added */
    }
  }

  /* Show hamburger icon on small screens */
  .hamburger {
    display: flex;
  }
}

/* Hamburger Menu Animation */
.hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 8px;  /* Adjust the top value to center the first bar */
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;  /* Hide the middle bar */
}

.hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -10px; /* Adjust the top value to center the third bar */
}

/* Homepage-specific styles */
.homepage .navbar {
  justify-content: flex-end;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  transition: all 0.3s ease;
  background-color: $hero-black;
  border-bottom: none;
  color: white;

  ul {
    display: flex;
    justify-content: center;
    /* Center the nav items on the homepage */
  }

  li {
    margin: 0 1rem;
  }

  a {
    color: #666;
    transition: color 0.3s;
  }

  a:hover {
    color: #ecf0f1;
  }

  .logo {
    position: absolute;
    /* Remove it from the flow */
    left: 0;
    /* Ensure it's not affecting layout */
    visibility: hidden;
    /* Hide the logo without affecting layout */
  }

  .homepage .nav-links {
    background-color: #AAA; /* Lighter dark gray for better contrast */
    color: #fff; /* White text */
    border-radius: 5px; /* Rounded corners */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Subtle shadow to make it pop more */
  }
  
  .homepage .nav-links a {
    color: #fff; /* White links */
  }
  
  .homepage .nav-links a:hover {
    color: $highlight-color; /* Change on hover for better interactivity */
  }
}