.aboutme {
	max-width: 750px;
	margin: 0 auto;

	.text {
		overflow: hidden;
	}

	.photo {
		float: right; 
		margin-left: 10px; 
		.mug {
			width: 180px;
			margin-right: 10px;
		}
	}

	@media (max-width: $width-break) {
		.photo {
			display: none;
		}
	}


	.contactinfo {
		margin-top: 10px;

		a > img {
			width: 64px;
			height: 64px;
			cursor: pointer;
		}
	}	
}

.contact-me {
	text-align: left;
	margin-bottom: 2rem;
	display: flex;
	flex-direction: column;
	
	a {
		display: block;
		svg {
			vertical-align: top;
		}
	}
}
